.env
logs/*
__pycache__/
monitored_channels.json
src/scraper/data/*.json
src/scraper/articles.db
src/scraper/articles_bk.db
src/services/sent_articles.json
src/settings/item_prices.json
staged_diff.txt
